.sidebar {
  flex: 3;
  height: fit-content;
  margin: 20px;
  margin-top: 4%;
  padding-top: 4%;
  padding-bottom: 30px;
  background-color: #fef6f6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a7a4a4;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: solid 1px #a7a4a4;
  border-bottom: solid 1px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}

.sidebarItem > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
}

.sidebarItem > p {
  padding: 30px;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  transition: 100ms;
  cursor: pointer;
}

.sidebarListItem:hover {
  color: rgb(19, 31, 1);
}

.sidebarListItem.selected {
  color: chocolate; /* Text color changes to white */
  font-weight: bold;
  border-radius: 5px;
}


.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
}
